<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>TEAM NAME: <%= @team[:name]%></h1>
   
   <p>Coach : <%= @team[:coach] %></p>
   <br>
   
   <p><bold>Point Guard:</bold> <%=@team[:pg] %></p>
   <p>Shooting Guard : <%= @team[:sg]%></p>
   <p>Small Forward: <%= @team[:sf]%></p>
   <p>Power Forward: <%= @team[:pf] %></p>
   <p>Center: <%= @team[:c]%></p>
 


 </body>
</html>


